@import 'bootstrap/dist/css/bootstrap.min.css';
body,html{
  overflow: hidden;
  background-color: BLACK;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}